.window-container {
    width: 100%;
    height: 100%;
    padding: 1px;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    flex-direction: column;
    border: 1px solid #3a3a3a;
}

.engine-options-bar {
    width: 100%;
    height: 32px;
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    padding: 0 12px;
    gap: 10px;
    box-sizing: border-box;
}

.engine-canvas {
    display: flex;
    width: 100%;
    height: 100%;
}
