.engine-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
}

.engine-icon__svg-container {
    display: inline-flex;
    color: rgb(155, 155, 155);
    width: 100%;
    height: 100%;
}

.engine-icon__svg-container svg {
    width: 100%;
    height: 100%;
}

.engine-icon__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
