@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');

.engine-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'JetBrains Mono', monospace;
    cursor: default; 
    user-select: none;
}

.engine-text__line {
    width: 100%;
    
}

.engine-text__text {
    font-size: 14px;
    font-weight: 500;
    text-wrap: nowrap;
    color: #cacaca;
}
